.thanks__content {
    max-width: 1540px;
}

.thanks__message {
    background: #fff;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #818181;
    margin: 0 auto;
    text-align: center;
    width: 500px;
}

.thanks__message--item {
    font-size: 20px;
    padding-top: 90px;
}

.thanks__message--return-button {
    padding-bottom: 90px;
    padding-top: 30px;
}

.thanks__message--return-button--item {
    background: #305DFF;
    border-radius: 5px;
    color: #FFF;
    font-size: 14px;
    margin: 0 auto;
    padding: 10px 15px;
    text-decoration: none;
}