body {
    background: #EEEEEE;
}

.header__inner {
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: 1540px;
    padding: 50px 100px;
}

.drawer-hidden {
    display: none;
}

.drawer-open {
    align-items: center;
    background: #305dff;
    border-radius: 7px;
    box-shadow: 3px 3px 7px #6f6f6f;
    cursor: pointer;
    display: flex;
    height: 55px;
    justify-content: center;
    position: relative;
    width: 55px;
    z-index: 100;
}

.menu-icon {
    background: #fff;
    display: block;
    height: 0.5px;
    position: absolute;
    width: 25px;
}

.menu-icon::before {
    background: #fff;
    bottom: 8px;
    content: '';
    display: block;
    height: 0.5px;
    position: absolute;
    width: 10px;
}

.menu-icon::after {
    background: #fff;
    content: '';
    display: block;
    height: 0.5px;
    position: absolute;
    top: 8px;
    width: 5px;
}

#drawer-input:checked~.drawer-open .menu-icon {
    background: rgba(255, 255, 255, 0);
}

#drawer-input:checked~.drawer-open .menu-icon::before {
    height: 0.5px;
    top: 0;
    transform: rotate(45deg);
    width: 25px;
}

#drawer-input:checked~.drawer-open .menu-icon::after {
    height: 0.5px;
    top: 0;
    transform: rotate(-45deg);
    width: 25px;
}

.nav__content {
    background: #fff;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    z-index: 99;
}

#drawer-input:checked~.nav__content {
    left: 0%;
    text-align: center;
    top: 0%;
}

#drawer-input:checked~.header__inner--logo {
    display: none;
}

.nav__item {
    list-style: none;
    margin-bottom: 15px;
}

.nav__item:first-child {
    margin-top: 200px;
}

.nav__item--link {
    color: rgb(0, 106, 255);
    font-size: 20px;
    text-decoration: none;
}

.header__inner--logo {
    color: #305dff;
    font-size: 35px;
    font-weight: bold;
    margin-left: 20px;
    text-decoration: none;
}

.main__content {
    margin: 0 auto;
    max-width: 1540px;
    padding: 0 100px;
    text-align: center;
}

.content__group {
    background: #fff;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #818181;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 500px;
    padding: 30px 0;
}

.content__item {
    list-style: none;
}

.content__item--link {
    color: #305dff;
}

.content__item:not(:last-child) {
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .header__inner {
        padding: 50px;
    }

    .user__name {
        display: none;
    }

    .main__content {
        padding: 0 50px;
    }
}